# Projeto de Bases de Dados - Parte 2

### Docente Responsável

Prof. Flávio Martins

### Grupo 70
<dl>
    <dt>5 horas (33.3%)</dt>
    <dd>ist103867 Diogo Cardoso</dd>
    <dt>5 horas (33.3%)</dt>
    <dd>ist103908 Francisco Núncio</dd>
    <dt>5 horas (33.3%)</dt>
    <dd>ist99286 Miguel Mano</dd>
<dl>

# Empresa de comércio online

## 1 Conversão E-A para Modelo Relacional

Recorde a notação para o Modelo Relacional exposta nas aulas teóricas como se segue:

- relacaoA (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)
- relacaoB (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)

1. As relações são expressas por um nome seguido dos atributos entre parêntesis;
    - As chave primárias são expressas sublinhando os atributos que a compõem;
    - As chaves estrangeiras para outras relações são expressas através da lista de atributos que a compõem, seguida de “: FK(RelacaoDestino)”. A ordem dos atributos que compõem a FK deve corresponder à ordem dos atributos da chave na relação destino;
    - As chaves candidatas são expressas através da expressão “unique”, seguida da lista de atributos que a compõem entre parêntesis;
    - As restrições de integridade ao Modelo Relacional são descritas em termos dos conceitos deste modelo.

### 1.1 Modelo Relacional com Restrições de Integridade

1. Desenvolva um Modelo Relacional correspondente ao modelo Entidade-Associação;
2. Complemente a seu Modelo Relacional com um conjunto de Restrições de Integridade que represente o modelo E-A apresentado com a maior fidelidade.

- Employee (<u>ssn</u>, TIN, bdate, name)
    - unique(TIN)
- Workplace (<u>address</u>, lat, long)
    - unique(lat, long)
- Department(<u>name</u>)
- Office (<u>address</u>)
    - address: FK (Workplace)
- Warehouse (<u>address</u>)
    - address: FK (Workplace)
- Product (<u>sku</u>, name, description, price, ean)
- Supplier (<u>TIN</u>, address , name, sku, date)
    - sku: FK (Product) NOT NULL
- Customer (<u>cust_no</u>, name, email, phone, address)
- Order (<u>order_no</u>, date , cust_no)
    - cust_no: FK (Customer) NOT NULL
- Sale (<u>order_no</u>)
    - order_no: FK (Order)
- works (<u>ssn</u>, <u>name</u>, <u>address</u>)
    - ssn: FK (Employee)
    - name: FK (Department)
    - address: FK (Workplace)
- process (<u>ssn</u>, <u>order_no</u>)
    - ssn: FK (Employee)
    - order_no: FK (Order)
- delivery (<u>address</u>, <u>sku</u>, <u>TIN</u>)
    - address: FK (Warehouse)
    - TIN: FK (Supplier)
- contains (<u>order_no</u>, <u>sku</u>, qty)
    - order_no: FK (Order)
    - sku: FK (Product)
- pay (<u>order_no</u>, cust_no)
    - order_no: FK (Order)
    - cust_no: FK (Customer)


-RI-1 : Qualquer ssn em Employee tem que existir em works 


-RI-2 : Qualquer sku em Product tem que existir em Supplier


-RI-3 : Qualquer order_no em Order tem que existir em contains


-RI-4 : Cada par cust_no e order_no so pode existir em pay se existir em Order

-RI-5 : Quando um Workplace é removido da base de dados o Office e/ou Warehouse tambem tem de ser removidos

### 1.2 Restrições de Integridade não passíveis de conversão

Identifique todas as Restrições de Integridade do modelo Entidade-Associação apresentado que não são passíveis de conversão para o modelo relacional.

RI-1

## 2 Algebra Relacional

Recorde a notação exposta nas aulas teóricas como se segue:

$\Pi_{atributo1} \big( \sigma_{atributo1=atributo2} (relacaoA \bowtie relacaoB) \big)$

#### Simbolos
- $\cup$ union 			
- $\cap$ intersection 		
- $-$ difference 		
- $\times$ cartesian product 
- $\div$ division 			
- $\rho$ rename 			
- $\bowtie$ natural join 		
- $\wedge$ Logical AND 	
- $\vee$ Logical OR 	
- $\neg$ Logical NOT 	

Considerando o modelo relacional desenvolvido, apresente as expressões algébricas correspondentes a cada uma das seguintes interrogações:

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023;

$\Pi_{name} \big (Customer\bowtie(\sigma_{1-1-2023<=date<=31-12-2023 }(Order \bowtie( \sigma_{price>50 } (contains \bowtie \Pi_{sku,price}\big (Product))))))$

2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023;

$\Pi_{name} \big (Employee \bowtie (\sigma_{1-1-2023<=date<=31-12-2023} (Order \bowtie(process \bowtie(\Pi_{ssn}(works \bowtie Warehouse)- \Pi_{ssn}(works \bowtie Office)) ))))$

3. Indique o nome do produto mais vendido;

$T<- (sku)G(sum(qty)→total) (contains) $


$\Pi_{name} \big(  T \bowtie(G\big(max(total)→total) (T)))$

4. Indique o valor total de cada venda realizada.

$(order_no)G\big (sum(amountCost))(\rho(result(2→amountCost)) (\Pi_{order_no,qty*price}\big( Sale \bowtie contains \bowtie \Pi_{sku,name}(Product))))$

## 3 Tradução do Modelo Relacional para SQL

### 3.1 Esquema Relacional (schema.sql)

Crie uma base de dados SQL correspondente ao esquema Relacional desenvolvido no ponto anterior.
Utilizando a linguagem SQL (DDL), apresente as instruções para criar o esquema de bases de dados correspondente ao modelo relacional desenvolvido. Deve certificar-se de que os tipos de dados e tamanhos de campo selecionados sejam os mais apropriados. As restrições aplicáveis a cada campo, linha e tabela também devem ser especificadas recorrendo às instruções NOT NULL, CHECK, PRIMARY KEY, UNIQUE e FOREIGN KEY conforme seja apropriado.


Nota: Apresente todas as restrições existentes no modelo Relacional que não podem ser capturadas (implementadas) no esquema SQL, escrevendo-as como comentários na tabela respectiva.

In [13]:
%load_ext sql
%sql postgresql://db:db@postgres/db

"""Qualquer ssn em Employee tem que existir em works"""
CREATE TABLE Employee (
    ssn     INTEGER ,
    TIN     INTEGER ,
    bdate   DATE, 
    name    VARCHAR(50),
    PRIMARY KEY(ssn),
    UNIQUE(TIN)
);



CREATE TABLE Workplace(
    address   VARCHAR(100),
    long     DECIMAL,
    lat      DECIMAL,
    PRIMARY KEY(adress),
    UNIQUE(long,lat)
);

CREATE TABLE Department(
    name     VARCHAR(50),
    PRIMARY KEY(name)
);

CREATE TABLE Office(
    address   VARCHAR(100) PRIMARY KEY,
    FOREIGN KEY(adress) REFERENCES Workplace
);

CREATE TABLE Warehouse(
    address   VARCHAR(100),
    FOREIGN KEY(adress) REFERENCES Workplace,
    PRIMARY KEY (address)
);

"""Qualquer sku em Product tem que existir em Supplier"""
CREATE TABLE Product(
    sku         VARCHAR(20) ,
    name        VARCHAR(50),
    description VARCHAR(1000),
    price       DECIMAL,
    ean         VARCHAR(255),
    PRIMARY KEY (sku)
);

CREATE TABLE Supplier (
  TIN       INT PRIMARY KEY,
  address   VARCHAR(100),
  name      VARCHAR(50),
  sku       VARCHAR(20) NOT NULL,
  date      DATE,
  FOREIGN KEY (sku) REFERENCES Product
);

CREATE TABLE Customer (
  cust_no   INT,
  name      VARCHAR(50),
  email     VARCHAR(100),
  phone     VARCHAR(14),
  address   VARCHAR(100),
  PRIMARY KEY (cust_no)
);

"""Qualquer order_no em Order tem que existir em contains"""
CREATE TABLE Order (
  order_no  INT,
  date      DATE,
  cust_no   INT NOT NULL REFERENCES Customer,
  PRIMARY KEY(order_no),
);

CREATE TABLE Sale (
  order_no INT REFERENCES Order,
  PRIMARY KEY(order_no)
);

CREATE TABLE works (
  ssn       INT REFERENCES Employee,
  name      VARCHAR(255) REFERENCES Department,
  address   VARCHAR(255) REFERENCES Workplace,
  PRIMARY KEY (ssn,name,address)
);

CREATE TABLE process (
  ssn       INT REFERENCES Employee,
  order_no  INT REFERENCES Order,
  PRIMARY KEY (ssn,order_no)
);

CREATE TABLE delivery (
  address   VARCHAR(100) REFERENCES Warehouse,
  sku       INT REFERENCES Product,
  TIN       INT REFERENCES Supplier,
  PRIMARY KEY (address,sku,TIN)
);

CREATE TABLE contains (
  order_no  INT REFERENCES Order,
  sku       INT REFERENCES Product,
  qty       INT,
  PRIMARY KEY (order_no,sku)
);

CREATE TABLE pay (
  order_no INT REFERENCES Order,
  cust_no INT REFERENCES Customer,
  PRIMARY KEY (order_no,cust_no)
);

SyntaxError: invalid syntax (<ipython-input-13-9469c9357c92>, line 5)

In [5]:
%%sql
-- schema.sql

-- DROP TABLE ...
-- CREATE TABLE ...

UsageError: Cell magic `%%sql` not found.

### 3.2 Carregamento da Base de Dados

Crie um script SQL (DML) com todas as instruções INSERT necessárias para criar alguns dados de teste sintéticos para facilitar a validação dos resultados esperados das consultas (lembre-se de que cada tabela deve conter pelo menos uma linha e que todas as consulta têm de retornar um resultado não vazio).

In [36]:
%%sql
-- populate.sql

-- INSERT ...

INSERT INTO Employee VALUES
  (1, 123456789, '12/06/1999', 'Pedro Rodrigues'),
  (2, 987654321, '11/06/1999', 'Joana Antunes'),
  (3, 223456789, '17/06/1999', 'Pedro Antunes'),
  (4, 187654321, '16/06/1999', 'Joana Rodrigues'),
  (5, 323456789, '15/06/1999', 'Pedro Maltrapilho'),
  (6, 287654321, '14/06/1999', 'Joana Maltrapilho'),
  (7, 423456789, '13/06/1999', 'Pedro Miguel'),
  (8, 387654321, '10/06/1999', 'Joana Ribeiro');

INSERT INTO Workplace VALUES
  ('Rua Caio 25', 20.1000, -74.2121),
  ('Rua Torga 10', 10.2323, -55.1000),
  ('Rua Caio 10', 21.1000, -72.2121),
  ('Rua Torga 25', 12.2323, -52.1000)
  ('Rua Caio 5', 22.1000, -73.2121),
  ('Rua Torga 11', 15.2323, -56.1000);

INSERT INTO Department VALUES
  ('HR'),
  ('Marketing'),
  ('Research'),
  ('IT');

INSERT INTO Office VALUES
  ('Rua Caio 25'),
  ('Rua Torga 11'),
  ('Rua Caio 10');

INSERT INTO Warehouse VALUES
  ('Rua Torga 10'),
  ('Rua Torga 25'),
  ('Rua Caio 5');

INSERT INTO Product VALUES
  (1, 'Product A', 'Description of Product A', 9.99, '1234567890'),
  (2, 'Product B', 'Description of Product B', 10.50, '9876543210'),
  (3, 'Product C', 'Description of Product C', 9.99, '1234567891'),
  (4, 'Product D', 'Description of Product D', 10.50, '9876543211'),
  (5, 'Product A', 'Description of Product E', 9.99, '1234567892'),
  (6, 'Product B', 'Description of Product F', 10.50, '9876543212'),
  (7, 'Product C', 'Description of Product G', 9.99, '1234567893'),
  (8, 'Product D', 'Description of Product H', 10.50, '9876543213');


INSERT INTO Supplier VALUES
  (123456789, 'Rua dos Marcos 5', 'Supplier X', 1, '2023-01-10'),
  (987654321, 'Rua Carlos Meireles 10', 'Supplier Y', 2, '2023-02-15'),
  (123456781, 'Rua Manuel Silva 10', 'Supplier Z', 3, '2023-01-10'),
  (987654322, 'Rua dos Marcos 5', 'Supplier W', 4, '2023-02-15')
  (123456782, 'Rua Manuel Silva 11', 'Supplier I', 5, '2023-01-10'),
  (987654323, 'Rua Pedro Pais 10', 'Supplier P', 6, '2023-02-15'),
  (123456783, 'Rua dos Marcos 12', 'Supplier L', 7, '2023-01-10'),
  (987654324, 'Rua Pedro Pais 20', 'Supplier M', 8, '2023-02-15');

INSERT INTO Customer VALUES
  (1, 'Customer 1', 'customer1@gmail.com', '912234234', 'Rua Carlos Cruz 10'),
  (2, 'Customer 2', 'customer2@gmail.com', '922222222', 'Rua Inês Marques 21')
  (3, 'Customer 3', 'customer3@gmail.com', '913232321', 'Rua António Cruz 33'),
  (4, 'Customer 4', 'customer4@gmail.com', '919090909', 'Rua João dos Anjos 44')
  (5, 'Customer 5', 'customer5@gmail.com', '923131231', 'Rua dos abacaxis 20'),
  (6, 'Customer 6', 'customer6@gmail.com', '912313446', 'Rua das pereiras 43');~

INSERT INTO Order (order_no, date, cust_no)
VALUES
  (3, '2023-05-10', 3),
  (4, '2023-05-15', 4),
  (5, '2023-05-20', 5),
  (6, '2023-05-25', 6),
  (7, '2023-05-30', 7),
  (8, '2023-06-01', 8);

INSERT INTO Sale VALUES 
  (2),
  (3),
  (4),
  (5),
  (6),
  (7);

INSERT INTO works VALUES
  (1, 'IT', 'Rua Caio 25'),
  (2, 'HR', 'Rua Torga 11'),
  (3, 'Marketing', 'Rua Caio 10'),
  (4, 'HR', 'Rua Caio 5'),
  (5, 'IT', 'Rua Torga 25'),
  (6, 'Research', 'Rua Torga 10')
  (7, 'IT', 'Rua Torga 25'),
  (8, 'Research', 'Rua Torga 10');

INSERT INTO process VALUES
  (2, 2),
  (3, 3),
  (4, 4),
  (5, 5),
  (6, 6),
  (7, 7);

INSERT INTO delivery VALUES
  ('Rua Caio 25', 4, 777777777),
  ('Rua Torga 11', 5, 999999999),
  ('Rua Torga 11', 6, 888888888),
  ('Rua Torga 11', 7, 666666666),
  ('Rua Caio 25', 8, 444444444),
  ('Rua Caio 25', 3, 555555555);

INSERT INTO contains VALUES
  (3, 2, 2),
  (4, 3, 4),
  (5, 4, 1),
  (6, 5, 3),
  (7, 6, 2),
  (8, 7, 5);

INSERT INTO pay VALUES
 (5, 5),
 (3, 3),
 (4, 4),
 (7, 7);

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- populate.sql

-- CREATE TABLE ...]
(Background on this error at: https://sqlalche.me/e/20/f405)

## 4 Linguagem SQL

Apresente a expressão SQL correspondente  a cada uma das interrogações de Álgebra Relacional.

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023;

In [2]:
%%sql

-- SELECT ...

SELECT DISTINCT c.name
FROM Customer c
JOIN Order o ON c.cust_no = o.cust_no
JOIN contains co ON o.order_no = co.order_no
JOIN Product p ON co.sku = p.sku
WHERE p.price > 50 AND DATE_PART('year', o.date) = 2023;

UsageError: Cell magic `%%sql` not found.

2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023;

In [38]:
%%sql
-- SELECT ...

SELECT e.name
FROM Employee e
JOIN works w ON e.ssn = w.ssn
JOIN Warehouse wh ON w.address = wh.address
JOIN process pr ON e.ssn = pr.ssn
JOIN Order o ON pr.order_no = o.order_no
WHERE o.date >= '2023-01-01' AND o.date < '2023-02-01'
  AND NOT EXISTS (
    SELECT 1
    FROM Office of
    WHERE of.address = w.address
  );
-- SELECT ...

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- SELECT ...]
(Background on this error at: https://sqlalche.me/e/20/f405)

3. Indique o nome do produto mais vendido;

In [39]:
%%sql

-- SELECT ...

SELECT p.name
FROM Product p
JOIN contains c ON p.sku = c.sku
GROUP BY p.sku, p.name
ORDER BY COUNT(c.sku) DESC
LIMIT 1;

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- SELECT ...]
(Background on this error at: https://sqlalche.me/e/20/f405)

4. Indique o valor total de cada venda realizada.

In [ ]:
%%sql

-- SELECT ...

SELECT o.order_no, SUM(c.qty * p.price) AS total_value
FROM Order o
JOIN contains c ON o.order_no = c.order_no
JOIN Product p ON c.sku = p.sku
GROUP BY o.order_no;

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- SELECT ...]
(Background on this error at: https://sqlalche.me/e/20/f405)